@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .btn {
    font-size: 14px;
    line-height: 22px;
    padding: 10px 7px;
    gap: 5px;
  }

  body {
    font-size: 14px;
    line-height: 18px;
  }

  .header {
    .logo {
      width: 68px;
    }
  }

  .btn-circle {
    width: 26px;
    height: 26px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
  .burger {
    width: 24px;
    height: 14px;

    &--opened {
      .burger-line {
        &:nth-child(1) {
          @include transform(rotate(45deg) translate(5px, 3px));
        }
        &:nth-child(3) {
          @include transform(rotate(-45deg) translate(5px, -4px));
        }
      }
    }
  }

  .burger-line {
    height: 2px;
  }

  .header__controls {
    gap: 8px;
  }

  .header__inner {
    padding: 12px 0;
  }

  .grettings-slider {
    .picture {
      height: 730px;
    }
  }

  .grettings-slider__item {
    height: calc(100vh - 50px);
    max-height: 730px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 17px 0;
  }

  .grettings-slider__text {
    height: auto;
    padding: 16px;
    gap: 16px;
    letter-spacing: 0.42px;

    .caption {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.72px;
    }

    .btn {
      max-width: 236px;
    }
  }

  .grettings-slider .swiper-controls {
    right: 15px;
    bottom: auto;
    top: 15px;
    gap: 10px;
  }

  .swiper-controls .swiper-button-prev,
  .swiper-controls .swiper-button-next {
    width: 10px;
    height: 10px;
  }

  .grettings-slider .swiper-controls {
    padding: 0 5px;
    height: 20px;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
  }

  .main-catalog__item {
    padding: 0;
    padding-top: calc(390 / 767 * 100%);
    height: auto;
  }

  .main-catalog__row {
    display: block;

    .picture {
      width: 100%;
      height: 100%;
      @include border-radius(25px);
    }
  }

  .main-catalog__col {
    & + .main-catalog__col {
      margin-top: 16px;
    }
  }

  .main-catalog__name {
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .main-catalog__col {
    gap: 16px;
  }

  .caption {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }

  .btn-more {
    width: 50px;
    height: 50px;
    border-width: 8px;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .main-catalog .btn {
    margin-top: 24px;
  }

  .main-catalog {
    padding: 38px 0;
  }

  .main-state {
    padding: 38px 0;
  }

  .main-state__list {
    grid-template-columns: 1fr;
    gap: 24px;
    font-size: 16px;
    line-height: 22px;
  }

  .main-state__num {
    font-size: 36px;
    line-height: 40px;
  }

  .main-state__item {
    gap: 16px;
    padding: 24px;
    @include border-radius(30px);
  }

  .footer {
    .logo {
      width: 68px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 24px;
    }
  }

  .footer-top__inner {
    width: 100%;
    position: relative;
    padding-top: 69px;
    padding-bottom: 0;
  }

  .footer-top__left {
    order: 2;
    width: 100%;
  }

  .footer__controls {
    margin-top: 24px;
    justify-content: center;
    width: 100%;
  }

  .footer-top__right {
    border-top: solid 1px $colorSimple;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    width: 100%;
    order: 1;
    gap: 19px;

    a {
      width: 100%;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }

    ul {
      display: none;
    }
  }

  .footer-bottom {
    border: 0;
    padding: 24px 0;
  }

  .footer-bottom__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .footer-bottom__text {
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 22px;

    &:nth-child(1) {
      order: 3;
      max-width: 100%;
      font-size: 12px;
      line-height: 22px;
      border-top: solid 1px $colorSimple;
      padding-top: 8px;
    }
    &:nth-child(2) {
      margin: 0;
      order: 1;
    }
    &:nth-child(3) {
      order: 2;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .text-block__inner {
    gap: 0;

    .picture {
      @include border-radius(23px);
      margin-bottom: 24px;
    }
  }

  .text-block h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .text-block {
    font-size: 16px;
    line-height: 22px;

    ul,
    h4,
    h3,
    h2,
    p {
      & + * {
        margin-top: 24px;
      }
    }
  }

  .list-section:last-child {
    padding-bottom: 50px;
  }

  .list-section {
    padding-top: 50px;
  }

  .list-section .btn {
    max-width: 170px;
  }

  .main-materials__list {
    grid-template-columns: 1fr 1fr;
  }

  .main-materials {
    .btn {
      max-width: 170px;
    }
  }

  .main-materials {
    padding: 50px 0;
  }

  .main-materials__inner {
    gap: 50px;
  }

  .picture-list {
    gap: 18px;
    grid-template-rows: repeat(3, minmax(90px, calc(90 / 120 * 100%)));
  }

  .contacts-map li {
    grid-template-columns: 26px 1fr;
    gap: 18px;
  }

  .contacts-map__block {
    padding: 28px;
    max-width: 386px;
  }

  .contacts-map .caption {
    font-size: 24px;
    line-height: 28px;
  }
  .contacts-map__list {
    flex-direction: column;
  }

  .line-text__content {
    width: 100%;
    gap: 24px;
  }

  .line-text .picture {
    max-height: inherit;
    width: 100%;
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .contacts-map {
    font-size: 16px;
    line-height: 22px;
  }

  .line-text .btn {
    min-width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  .line-text .picture .link-360 {
    font-size: 30px;
    line-height: 32px;
  }

  .line-text {
    padding: 50px 0;
  }

  .breadcrumbs__inner {
    padding: 16px 0;
  }

  .breadcrumbs-list {
    display: none;
  }

  .breadcrumbs-back {
    display: block;
  }

  .catalog-top__left {
    display: none;
  }

  .catalog-top__inner {
    display: block;
  }

  .freeDesign-block {
    min-height: 200px;
    font-size: 24px;
    line-height: 32px;
    gap: 16px;
    padding: 15px 5px;

    .icon {
      margin-bottom: -16px;
    }

    .btn {
      padding: 16px 40px;
    }
  }

  .catalog-controls {
    flex-wrap: wrap;
    gap: 16px;

    .btn-open-category {
      order: 4;
    }
  }

  .select-count {
    .drop-block__text {
      span:not(.select-count__count) {
        display: none;
      }
    }
  }

  .btn-open {
    font-size: 16px;
    line-height: 22px;
  }

  .product-item .product-item__status {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .product-list {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 32px;
  }

  .product-item .picture {
    border: 0;
  }

  .product-item .price-block {
    margin-top: 8px;
  }

  .product-item__controls {
    margin-top: 8px;
  }

  .list-section__item .picture {
    @include border-radius(40px);
  }

  .slider-section .swiper-controls {
    top: -41px;
  }

  .slider-section .btn {
    margin-top: 24px;
  }

  .text-section__inner {
    padding: 42px 25px;
  }

  .text-section__content {
    font-size: 16px;
    line-height: 22px;
  }

  .filter-block__caption {
    font-size: 16px;
    line-height: 22px;
  }

  .filter-block.show {
    @include transform(translateX(100%));
  }

  .catalog__left {
    left: -100%;
    width: 100%;
    max-width: 100%;
  }

  .filter-block {
    @include border-radius(0);
    top: 0;
    padding: 6px 16px;
  }

  .product-item__controls {
    svg {
      display: none;
    }
  }

  .products-section {
    .caption {
      max-width: 80%;
    }

    .swiper-pagination {
      display: none;
    }
  }

  .product-item .picture img {
    height: 131px;
  }

  .products-section {
    .swiper-controls {
      top: -63px;
      gap: 8px;

      .swiper-button-prev,
      .swiper-button-next {
        width: 24px;
        height: 24px;
      }
    }
  }

  .questions-section__inner {
    padding: 40px 14px;
  }

  .questions-section {
    font-size: 16px;
    line-height: 22px;
  }

  .send-form {
    margin-top: 24px;
    gap: 16px;
  }

  .send-form .input-item input {
    height: 46px;
  }

  .questions-section .picture {
    @include border-radius(40px);
  }

  .questions-section {
    padding-bottom: 34px;
  }

  .card-section__left {
    .swiper-controls {
      gap: 8px;

      .swiper-button-prev,
      .swiper-button-next {
        width: 24px;
        height: 24px;
      }

      .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          width: 25px;
        }
      }
    }
  }

  .card-head__desc {
    max-width: 100%;
  }

  .card-footer {
    margin-top: 28px;

    .status {
      order: 1;
      margin-right: auto;
      font-size: 16px;
      line-height: 22px;
    }

    .btn {
      width: calc(50% - 16px);
      padding-left: 10px;
      padding-right: 10px;
      order: 4;
    }

    .price-block {
      order: 3;
      margin-left: auto;
      justify-content: flex-end;
      gap: 8px;
    }
  }

  .link-3d {
    position: relative;
    right: auto;
    top: auto;
    order: 2;
    font-size: 16px;
    line-height: 22px;
    gap: 8px;
  }

  .card-head {
    font-size: 16px;
    line-height: 22px;
  }

  .card-head__name {
    margin-bottom: 15px;
  }

  .icon-share {
    top: 0px;
  }

  .card-text {
    order: 5;
    margin-top: 28px;
  }

  .card-body__right {
    width: 100%;
    order: 1;
  }

  .card-body__left {
    width: 100%;
    order: 2;
    margin-top: 32px;
  }

  .materials-change__name {
    font-size: 16px;
    line-height: 22px;
  }

  .card-section {
    padding-bottom: 14px;
  }

  .products-section {
    padding: 22px 0;
  }

  .products-section .btn {
    margin-top: 22px;
  }

  .basket-table .thead {
    display: none;
  }

  .basket-table {
    width: 100%;
    font-size: 24px;
    line-height: 32px;

    .picture {
      width: 200px;
      height: 200px;
    }

    .thead {
      width: 100%;
    }

    .tbody {
      width: 100%;
    }

    .tr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & + .tr {
        border-top: solid 1px $colorBlack;
      }
    }

    .td {
      width: 100%;
      border: 0;
      padding: 16px 0;
      font-size: 24px;
      line-height: 32px;

      &:nth-child(3) {
        display: none;
      }
    }
  }

  .basket-table__name {
    text-align: center;
  }

  .input-count {
    height: 52px;
    width: 100px;
  }

  .basket-result {
    margin-top: 0;
  }
}
