@media (max-width: 1399px) {
  .main-state__item {
    padding: 25px 15px;
    font-size: 18px;
    line-height: 24px;
  }

  .main-state__num {
    font-size: 42px;
    line-height: 50px;
  }

  .footer-top__right {
    padding-left: 100px;
  }
}
