@media (max-width: 639px) {
  .card-footer {
    .btn {
      width: 100%;
    }
  }
}

@media (max-width: 479px) {
  .materials-colors__slider {
    width: 80%;
  }
}

@media (max-width: 389px) {
  .picture-list {
    gap: 18px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .contacts-map__block {
    padding: 18px;
  }

  .product-list {
    grid-template-columns: 1fr;
  }

  .product-item .picture img {
    height: 180px;
  }
}
