$colorWhite: rgba(255, 255, 255, 1);
$colorBlack: rgba(0, 0, 0, 1);

$fontMain: "Gilroy";

$colorSimple: #333;

$colorSite: rgba(156, 144, 92, 1); // #9C905C
$colorSiteHover: #6f6f6f;

$shadow: 0px 0px 10px 0px rgba(35, 35, 35, 0.2);
